flows/UAC_Sponsor_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Record_Id</name>
        <label>Get Record Id</label>
        <locationX>132</locationX>
        <locationY>272</locationY>
        <actionName>c:SponsorFlowRecordId</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>assignRecordId</targetReference>
        </connector>
    </actionCalls>
    <assignments>
        <name>Add_Final_Stage</name>
        <label>Add Final Stage</label>
        <locationX>632</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Second_Stage</name>
        <label>Add Second Stage</label>
        <locationX>364</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minors_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minor_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecordId</name>
        <label>assignRecordId</label>
        <locationX>231</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0N3h000000wn08EAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Personal_Info</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UAC Sponsor Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UAC Sponsor Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Form</name>
        <label>Form</label>
        <locationX>759</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UACSponsorFinishScreen</name>
            <extensionName>c:UACSponsorFlowFinishScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Minor_Info</name>
        <label>Minor Info</label>
        <locationX>589</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Final_Stage</targetReference>
        </connector>
        <fields>
            <name>MinorInfo</name>
            <extensionName>c:UACSponsorMinorInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Personal_Info</name>
        <label>Personal Info</label>
        <locationX>321</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Second_Stage</targetReference>
        </connector>
        <fields>
            <name>UACPersonalInfo</name>
            <extensionName>c:UACPersonalInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Form_Stage</name>
        <isActive>true</isActive>
        <label>Form Upload</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Minors_Stage</name>
        <isActive>true</isActive>
        <label>Minor(s) Detail</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Personal_Info_Stage</name>
        <isActive>true</isActive>
        <label>Personal Info</label>
        <stageOrder>1</stageOrder>
    </stages>
    <startElementReference>Get_Record_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
